<div class="container">
  <h3 class="page-header">Signup confirmed</h3>

  <p>Please login with your email <%= @user.email %> and password</p>

  <p><%= link_to 'Login', login_path, class: 'btn btn-primary' %></p>
</div>