<div class="container">
  <h1>Ruby on Rails Assignment - Group 123</h1>

  <p>This is our new blog!</p>

  <p>We managed to implement the following:</p>
  <ul>
    <li>User registration</li>
    <li>Profile view & edit</li>
    <li>Data validation</li>
  </ul>

  <p>You can find the code on L2P or on GitHub at this link:
    <a href="https://github.com/WebTech2-Group123/rails-assignment" target="_blank">https://github.com/WebTech2-Group123/rails-assignment</a>
  </p>
</div>